<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies!</title>
  </head>
  <body>
    <p>Puppy Name: <%= @puppy.name %></p>
    <p>Breed: <%= @puppy.breed %></p>
    <p>Age: <%= @puppy.age %></p>
  </body>
</html>
