<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies!</title>
  </head>
  <body>
    <p>Puppy Name: <%= %></p>
    <p>Breed: <%= %></p>
    <p>Age: <%= %></p>
  </body>
</html>