<!DOCTYPE html>
<html>
  <head>
    <title>Puppies!</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site</h1>
    <a href="create_puppy.erb">Click Here To List A Puppy</a>
  </body>
</html>
